asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
cors==1.0.1
Django==5.2
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
Faker==37.1.0
filelock==3.18.0
future==1.0.0
gevent==25.4.1
greenlet==3.2.0
idna==3.10
names==0.3.0
pillow==11.2.1
PyJWT==2.9.0
PySocks==1.7.1
requests==2.32.3
requests-file==2.1.0
setuptools==78.1.0
sqlparse==0.5.3
tldextract==5.2.0
tzdata==2025.2
urllib3==2.4.0
zope.event==5.0
zope.interface==7.2
